html,
body,
#root {
  margin: 0;
  height: 100%;
  object-fit: cover;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.chatSection {
  background: #352C46 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100vw;
  height: 100%;
  object-fit: contain;
  border-right: 3px solid rgb(138, 41, 138);
}

.imgDiv {
  background: url("../src/images/maarten-hof-tales-from-the-loop.png") center center no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}